<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Jenkins Test Suite">
    <test verbose="2" preserve-order="true" name="com.walmart.jenkins">
        <classes>
            <class name="tests.LogoTest">
                <methods>
                    <include name="isLogoPresent"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>